:root {
    --black: #1F2937;
    --white: #F9FAF8;
    --grey: #e2e8f0;
    --light-grey: #ededed;
    --light-grey2: #e1e1e1;
    --dark-grey: #636363;
    --blue: #3882F6;
    --yellow: #f0b42a;
}

body {
    font-family: "Roboto", sans-serif;
}

img.icon, img.icon.medium {
    width: 48px;
    height: 48px;
}

img.icon.tiny {
    width: 16px;
    height: 16px;
}

img.icon.small {
    width: 24px;
    height: 24px;
}

img.icon.large {
    width: 72px;
    height: 72px;
}

img.icon.light {
    filter: invert(1);
}

.d-flex {
    display: flex;
}

.d-flex-c {
    display: flex;
    flex-direction: column;
}

.gap-10 {
    gap: 10px;
}