@import "global-style.css";

body {
    display: flex;
    background-color: black;
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 12px;
    padding: 16px;
    margin: 16px;
    gap: 8px;
    text-transform: capitalize;
}